<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    </head>

    <body>
        <div id="root" class="row">
            <div class="twelve columns">
                <div class="four columns offset-by-five">
                    <h1>Blogs</h1>
                </div>
                <div class="four columns offset-by-one">
                    <ol>
                        <li v-for="post in posts">
                            <h3>{{ post.title }}</h3>
                            <p>{{ post.body }}</p>
                            <hr/>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </body>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script type="text/javascript" src="script.js"></script>
</html>