<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
</head>

<body>
    <div id="app">
        <static-posts/>
    </div>
    <template id="static-posts-template">
        <div>
            <h1>Here are the post titles:</h1>
            <ul>
                <li v-for="post in posts">
                    {{post.title}}
                </li>
            </ul>
        </div>
    </template>
</body>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://vuejs.org/js/vue.js"></script>
<script type="text/javascript" src="search.js"></script>
</html>